.listBox {
  position: relative;
}

.options {
  background-color: var(--dark-bg-redesigned);
  position: absolute;
  padding: 0;
  z-index: 100;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  min-width: var(--button-width);
  cursor: pointer;
}

.item {
  padding: 10px 20px;
}

.active {
  background: var(--light-bg-redesigned);
}

.disabled {
  opacity: 0.4;
}

.selected {
  background-color: var(--light-bg-redesigned);
}
