.primary .title {
  color: var(--text-redesigned);
}

.primary .text {
  color: var(--text-redesigned);
}

.error .title {
  color: var(--red-light);
}

.error .text {
  color: var(--red-dark);
}

.accent .title {
  color: var(--accent-redesigned);
}

.accent .text {
  color: var(--accent-redesigned);
}


.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.medium .title {
  font: var(--font-lg-redesigned);
}

.medium .text {
  font: var(--font-md-redesigned);
}

.large .title {
  font: var(--font-xl-redesigned);
}

.large .text {
  font: var(--font-lg-redesigned);
}

.small .text {
  font: var(--font-sm-redesigned);
}

.small .title {
  font: var(--font-sm-redesigned);
}

.bold .title, .bold .text {
  font-weight: 700;
}