.button {
  cursor: pointer;
  color: var(--primary-color);
}

.button:hover {
  stroke-opacity: 0.8;
  fill-opacity: 0.8;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.primary {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.primary:hover {
  background-color: #1d4ed8;
}

.outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
  cursor: pointer;
}

.outlineRed {
  border: 1px solid var(--red-light);
  color: var(--red-light);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
  cursor: pointer;
  background: transparent;
}

.outline:hover:not(:disabled) {
  background-color: var(--primary-color);
  color: #fff;
}

.square {
  border-radius: 5px;
  padding: 0;
}

.square.sizeL {
  width: var(--font-line-lg);
  height: var(--font-line-lg);
  font-size: var(--font-size-lg);
}

.square.sizeM {
  width: var(--font-line-md);
  height: var(--font-line-md);
  font-size: var(--font-size-md);
}

.square.sizeS {
  width: var(--font-line-sm);
  height: var(--font-line-sm);
  font-size: var(--font-size-sm);
}

.square.sizeXL {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font-size: var(--font-size-xl);
}

.sizeL {
  font-size: var(--font-size-lg);
  line-height: var(--font-line-lg);
}

.sizeM {
  font-size: var(--font-size-md);
  line-height: var(--font-line-md);
}

.sizeS {
  font-size: var(--font-size-sm);
  line-height: var(--font-line-sm);
}

.sizeXL {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}