.articleListItem {
  cursor: pointer;
}

.list .date {
  margin-left: auto;
}

.grid {
  width: 230px;
}

.grid .imageWrapper {
  width: 200px;
  height: 200px;
  position: relative;
}

.grid .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid .date {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  right: 0;
  top: 0;
}

.grid:hover .date {
  opacity: 1;
}

.grid .infoWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 8px;
}

.grid .types p {
  max-width: 134px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid .views {
  margin-left: auto;
}

.grid .title {
  margin-top: 8px;
}

.list .views {
  margin-left: auto;
}

.list .header {
  display: flex;
  align-items: center;
}

.list .username {
  margin-left: 8px;
}

.list .title {
  margin-top: 8px;
}

.list .img {
  width: 100%;
  max-height: 250px;
  margin-top: 16px;
  object-fit: contain;
}

.list .footer {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.list .textBlock {
  margin-top: 10px;
  max-height: 200px;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, white 50%, transparent);
}
