.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.menu {
  border-radius: 18px;
  border: 1px solid var(--accent-redesigned);
  overflow: hidden;
}
