.languageSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.collapsed {
  flex-direction: column;
}


/* redesigned */
button.button {
  color: var(--icon-redesigned)
}