body.app-orange-theme {
  --bg-color: #fbf4fa;
  --inverted-bg-color: #e58e13;
  --primary-color: #fbf8f4;
  --secondary-color: #bb7c2a;
  --inverted-primary-color: #ae1e7c;
  --inverted-secondary-color: #e58e13;
}
