body.app-orange-theme {
  --bg-color: #fbf4fa;
  --inverted-bg-color: #e58e13;
  --primary-color: #efa912;
  --secondary-color: #bb7c2a;
  --inverted-primary-color: #ae1e7c;
  --inverted-secondary-color: #e58e13;

  /* skeleton */
  --skeleton-shadow: #2b2be8;
  --skeleton-color: #1515ad;

  /* code */
  --code-bg: #ddb319;

  /* card */
  --card-bg: #d5d5d7;

  /* redesigned */
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;
}
