.menu {
  position: relative;
}

.menuItems {
  background-color: var(--dark-bg-redesigned);
  position: absolute;
  z-index: 100;
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--text-redesigned);
  cursor: pointer;
}

.item:hover {
  background-color: var(--light-bg-redesigned);
}

.link:hover {
  opacity: 1;
}
