.navBar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  padding: 20px;
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.appName {
   width: calc(var(--sidebar-width) - 20px);
   padding-left: 15px;
}

.actions {
  margin-left: auto;
}

.notifications {
  width: 500px;
}
