.button {
  cursor: pointer;
  padding: 8px 16px;
  color: var(--text-redesigned);
  display: flex;
  align-items: center;
}

.hasPrefixOrSuffix {
  padding: 0 16px;
}

.button:hover {
  color: var(--accent-redesigned);

  .buttonSuffix path {
    fill: var(--accent-redesigned);
  }

  .buttonPrefix path {
    fill: var(--accent-redesigned);
  }
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.square {
  border-radius: 5px;
  padding: 0;
}

.square.l {
  width: var(--font-line-lg);
  height: var(--font-line-lg);
  font: var(--font-lg-redesigned);
}

.square.m {
  width: var(--font-line-md);
  height: var(--font-line-md);
  font: var(--font-md-redesigned);
}

.square.s {
  width: var(--font-line-sm);
  height: var(--font-line-sm);
  font: var(--font-sm-redesigned);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl-redesigned);
}

.l {
  font: var(--font-lg-redesigned);
  line-height: var(--font-line-lg);
}

.m {
  font: var(--font-md-redesigned);
  line-height: var(--font-line-md);
}

.s {
  font: var(--font-sm-redesigned);
  line-height: var(--font-line-sm);
}

.xl {
  font: var(--font-xl-redesigned);
  line-height: var(--font-line-xl);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.outline {
  background: none;
  border: 1px solid var(--icon-redesigned);
  border-radius: 34px;
}

.outline:hover {
  border-color: var(--accent-redesigned);
}

.outline.normal {
  border: 1px solid var(--icon-redesigned);
}

.outline.success {
  border: 1px solid var(--save-redesigned);
}

.outline.cancel {
  border: 1px solid var(--cancel-redesigned);
}

.filled {
  background-color: var(--light-bg-redesigned);
  border-radius: 34px;
}

.buttonPrefix,
.buttonSuffix {
  display: flex;
}
