.button {
  cursor: pointer;
  color: var(--text-redesigned);
}

.button:hover {
  color: var(--accent-redesigned);
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.square {
  border-radius: 5px;
  padding: 0;
}

.square.l {
  width: var(--font-line-lg);
  height: var(--font-line-lg);
  font: var(--font-lg-redesigned);
}

.square.m {
  width: var(--font-line-md);
  height: var(--font-line-md);
  font: var(--font-md-redesigned);
}

.square.s {
  width: var(--font-line-sm);
  height: var(--font-line-sm);
  font: var(--font-sm-redesigned);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl-redesigned);
}

.l {
  font: var(--font-lg-redesigned);
  line-height: var(--font-line-lg);
}

.m {
  font: var(--font-md-redesigned);
  line-height: var(--font-line-md);
}

.s {
  font: var(--font-sm-redesigned);
  line-height: var(--font-line-sm);
}

.xl {
  font: var(--font-xl-redesigned);
  line-height: var(--font-line-xl);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.outline {
  display: block;
}