.starIcon path {
  fill: none;
}

.starIcon {
  cursor: pointer;
}

.active path {
  fill: var(--primary-color);
}

.selected {
  cursor: auto;
}

.starRatingRedesigned {
  display: flex;
  gap: 4px;
  
  path {
    stroke: var(--icon-redesigned);
  }

  .active path {
    fill: var(--icon-redesigned);
  }

}
