.container {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 1px solid var(--icon-redesigned);
  width: 100%;
}

.small {
  height: 32px;
}

.medium {
  height: 38px;
}

.large {
  height: 44px;
}

.withInputPrefix {
  padding-left: 8px;
}

.inputPrefix {
  display: flex;
}

.container:focus-within path  {
  fill: var(--accent-redesigned)
}

.container:focus-within {
  border-color: var(--accent-redesigned)
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
}

.input {
  color: var(--text-redesigned);
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--hint-redesigned)
}

.readOnly {
  border: none;
  cursor: not-allowed;
  opacity: 0.5;
}
