.title {
  color: var(--primary-color);
}

.text {
  color: var(--secondary-color);
}

.sizeL .text {
  font-size: var(--font-size-lg);
}

.error .title {
  color: var(--red-light);
}

.error .text {
  color: var(--red-dark);
}

.inverted .title {
  color: var(--inverted-primary-color);
}

.inverted .text {
  color: var(--inverted-secondary-color);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.sizeM .title {
  font-size: var(--font-size-lg);
}

.sizeM .text {
  font-size: var(--font-size-md);
}

.sizeL .title {
  font-size: var(--font-size-xl);
}

.sizeS .text {
  font-size: var(--font-size-sm);
}

.sizeS .title {
  font-size: var(--font-size-sm);
}
